{% extends 'base.html' %}
{%load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<section>
    <form action="{% url 'search_room' %}" method="POST">
        {%csrf_token%}
        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <input type="text" placeholder="Search" name="county" id="mysearch">
            </div>
            <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
        </div>
    </form>
    <video  id="slider"  autoplay muted loop>
        <source src="{% static 'video/vid1.mp4' %}" type="video/mp4">
    </video>
    <ul class="navigation">
        <li onclick='videoUrl("../../static/video/vid2.mp4")'><img src="{% static 'images/page1.jpg' %}" alt="image" width="100px" height="100px"></li>
        <li onclick='videoUrl("../../static/video/vid1.mp4")'><img src="{% static 'images/page2.jpg' %}" alt="" width="100px" height="100px"></li>
        <li onclick='videoUrl("../../static/highway-loop.mp4")'><img src="{% static 'images/page3.jpg' %}" alt="" width="100px" height="100px"></li>
    </ul>
     <div class="acontainer">
        <p>this is google</p>
    </div>
</section>

{% endblock %}

{% block scripts%}

<script type="text/javascript">
    function videoUrl(hmmmmmmmm){
        document.getElementById('slider').src = hmmmmmmmm
    }
</script>

<script type="text/javascript">
    document.getElementById('mysearch').addEventListener('keyup', function(event) {
        if (event.code === 'Enter')
        {
            event.preventDefault();
            document.querySelector('form').submit();
        }
    });

</script>

<script type="text/javascript">
    const icon = document.querySelector('.icon');
    const search = document.querySelector('.search');
    icon.onclick = function(){
        search.classList.toggle('active')
    }

</script>

{% endblock scripts%}
